body {
	font-size: 16px;
	font-family: Arial;

}

@font-face{
	font-family: Aller;
	src: url('../fonts/Aller_Rg.ttf');
}

#header-nav {
	background-color: #222;
	border-radius: 0px;
	border: 0px;
}

#header-nav a:hover, 
#header-nav a:focus {
	text-decoration: none;
}

#header-nav a:hover h2 span:first-of-type {
	color: #eeeeee;
	transform: translate3d(0 , 0 , 100px);
	transition: all 0.5s ease-in-out;
}

#navbar-brand span:first-of-type {
	color: #9d9d9d;
	transition: all 0.5s ease-in-out;
}

#navbar-brand span:nth-child(2) {
	color: #0895D1;
}

#navbar-brand {
	max-width: 400px;

}

#navbar-brand h2 {
	margin: 14px 0px;
}

.navbar-inverse .navbar-toggle {
	margin-top: 15px;
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
	border-top: 0px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #D0D0D0;
<<<<<<< HEAD
	margin-top: 8px;
	transition: all 0.2s ease-in-out;
	text-align: center;
=======
	margin-top: 10px;
	transition: all 0.2s ease-in-out;
>>>>>>> 52922ee8cfddb8e5b39dc035d430df4f2cbe565d
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #0895D1;
	color: #fff;
}

.heading h1 {
	margin-top: 40px;
	text-align: center;
	font-family: Aller;
	font-weight: bold;
}

.sub-menu {
	background: #EEE;
	margin-top: 70px;
	padding: 10px 50px;
}

.sub-menu h2 {
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	color: #0895D1;
}

.sub-menu p {
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	line-height: 1.5em;
	word-spacing: .1em;
	letter-spacing: 1px;
	color: #0d0e0b;
<<<<<<< HEAD
}

@media only screen and (max-width: 767px) {

	#navbar-brand h2 {
    margin: 14px 34px;
	}
=======
>>>>>>> 52922ee8cfddb8e5b39dc035d430df4f2cbe565d
}